html,
body {
    height: 100%;  
    font-family: Arial, Helvetica, sans-serif
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 60px;
    background-color: #353b48;
    border-radius: 30px;
    padding: 10px;
    }

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 450px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: white;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    }

    .list-page {
        margin: auto;
        width: 60%;
        padding: 20px;
        /* background: #fff; */
        min-height: 700px;
    }

    .list-page .list-section {
        margin-top: 50px;
    }

    .list-section .table td img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    } 
    .list-section .table td {
        vertical-align: middle;
        border-top: none;
    }
    .list-section .table td h3 {
        font-size: 20px;
        margin-bottom: 2px;
    }
    .list-section .table td h6 {
        font-size: 16px;
        margin-bottom: 2px;
        color: #807c7c;
    }
    .list-section .table td p {
        font-size: 12px;
    }
    .list-section .table tr{
    box-shadow: 3px 0px 5px 3px #fff;
    background:#fff;
    margin-bottom: 20px;
    }