<div class="container-fluid masthead lists">
    <div class="list-page">
        <div class="row">
            <div class="offset-md-3 col-md-6">
                <div class="d-flex justify-content-center h-100">
                    <div class="searchbar">
                        <input class="search_input" type="text" name="" ng-model="searchText" placeholder="Search...">
                        <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 list-section">
                <table class="table table-hover">                
                    <tbody>
                        <tr ng-repeat ="list in lists | filter:searchText">
                            <td width="10%"><img src="../../../../assets/images/profile.jpg" /></td>
                            <td>
                                <div>
                                    <h3>{{list.name}}</h3>
                                    <h6>{{list.domain}}</h6>
                                    <p>{{list.stack}}</p>
                                </div>
                            </td>
                            <td>{{list.experience}}</td>
                        </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>